/* Estilo geral da pági



/* Posicionamento do container */
.dropdown-container {
  position: relative;
  display: inline-block;
}

/* Texto escondido por padrão */
.conteudo-escondido {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 260px;
  background-color: #ffffff;
  padding: 15px;
  margin-top: 8px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border: 1px solid #e5e7eb;
  z-index: 10;
}

.conteudo-escondido h3 {
  margin-top: 0;
  font-size: 16px;
  color: #111827;
}

.conteudo-escondido p {
  font-size: 13px;
  color: #4b5563;
  line-height: 1.4;
  margin: 0;
}

/* Classe ativada via JavaScript ao clicar */
.conteudo-escondido.visivel {
  display: block;
}
body {
  margin: 0;
  padding: 40px 20px;
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
}

/* Container principal (Card branco) */
.card {
  max-width: 450px;
  width: 100%;
  padding: 30px 25px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

/* Links no topo */
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.nav-links a {
  color: #0070f3;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Título */
.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: rgb(236, 134, 1);
  margin-bottom: 20px;
}

/* Campos do formulário */
.input-field {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
  color: #374151;
}

.input-field:focus {
  border-color: #0070f3;
}

textarea.input-field {
  min-height: 100px;
  resize: none;

}

/* Botão Enviar */
.btn-submit {
  width: 100%;
  padding: 12px;
  background-color: #7992c4a6;
  color: #032266;
  border: 2px solid  #f41800b0;
  border-radius: 30px;
  font-size:17px;
  font-weight: 900;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-submit:hover {
  background-color: #d1d5db;
}
